<h1 mat-dialog-title>{{ title }} <mat-icon svgIcon="email"></mat-icon></h1>
<div mat-dialog-content style="padding: 0 5px;">
    <!-- <img class="image-preview" src ="{{imageSrc}}"/> 
    <p>{{ text }}</p> -->
  <!-- <p *ngIf="showText">{{ text }}</p>
  <div *ngIf="showHtml" [innerHtml]="text"></div>-->
  <!-- <mat-card class="example-card">
      

       <mat-card-content> -->
         
          <!-- <img mat-card-image src="{{imageSrc}}" > -->
       
      <!-- </mat-card-content>
    </mat-card> -->
    <div class="product" [style.backgroundImage]="imageSrc"></div>
    <mat-tab-group alignTabs="center">
        <mat-tab label="Описание"> <p>
            {{ text }}
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p></mat-tab>
        <mat-tab label="Записаться" disabled>Content 2</mat-tab>
      </mat-tab-group>
</div>
