::ng-deep .mat-dialog-container {
    margin: 5px;
}

::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}
.product {
    width: 250px;
    height: 250px;
    /* background-size: cover; */
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* cursor: pointer; */
}