.container-column{
    display: flex;
    flex-direction: column;
}
.container-row{
    display: flex;
    flex-direction: row;
}
.container-column > * {
    width: 100%;
}
.container-row > * {
    width: 48%;
}
.container-row :last-child {
    margin-left: 2%;
}
.button-ok{
    color: green;
    float: right;
}
.button-cancel{
    color:red;
}
mat-form-field mat-icon{
    font-size: 18px;
    margin-right: 3px;
    vertical-align: text-top;
}