<h1 mat-dialog-title>Новый клиент</h1>
<div mat-dialog-content>
  <div class="container-row">
    <mat-form-field>
      <input matInput placeholder="Фамилия"  [(ngModel)]="client.lastName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Имя" [(ngModel)]="client.firstName" required>
    </mat-form-field>
  </div>
  <div class="container-column">
  </div>
  <div class="container-row">
    <mat-form-field>
      <mat-icon matPrefix>phone</mat-icon>
      <input type="tel" matInput placeholder="Телефон" [(ngModel)]="client.phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Дата рождения" [(ngModel)]="client.birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker startView="multi-year" disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="container-column">
      <mat-form-field>
          <mat-icon matPrefix>message</mat-icon>
        <input matInput placeholder="Соц. сети" [(ngModel)]="client.link" >
      </mat-form-field>
      <mat-form-field>
          <mat-icon matPrefix>photo library</mat-icon>
        <input matInput placeholder="Instagram" [(ngModel)]="client.linkPhoto" >
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions style="display: block">
  <button mat-button class="button-cancel" (click)="onNoClick()" [mat-dialog-close]="0">ОТМЕНА</button>
  <button mat-button class="button-ok" (click)="create()" [mat-dialog-close]="1" cdkFocusInitial>ДОБАВИТЬ</button>
</div>