.input-field{
    width: 85%;
    margin-left: 2%;
}
.icon-field{
    vertical-align: middle;
}
.login-form{
    width: 300px;
    margin: auto;
}
#md-card-content{
    font-size: 16px;
}
.login-progress{
    display: block;
}
.login-container{
    min-width: 310px;
    margin: 0 3px 3px 3px;
}