<h1 mat-dialog-title>{{ title }} </h1>
<div mat-dialog-content>
  <div class="container-column">
      <mat-form-field>
          <!-- <mat-icon matPrefix>message</mat-icon> -->
        <input matInput placeholder="Название" [(ngModel)]="product.name" >
      </mat-form-field>
      <mat-form-field>
          <!-- <mat-icon matPrefix>photo library</mat-icon> -->
        <input matInput placeholder="Цена" [(ngModel)]="product.price" >
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions style="display: block">
  <button mat-button class="button-cancel" (click)="onNoClick()" [mat-dialog-close]="0">Отмена</button>
  <button mat-button class="button-ok" (click)="create()" [mat-dialog-close]="1" cdkFocusInitial>Добавить</button>
  <!-- <button mat-button class="button-ok" (click)="update()" [mat-dialog-close]="1" cdkFocusInitial>Обновить</button> -->
</div>