.avatar {
    height: 60px;
    width: 60px;
    background-size: cover;
}
.container-column {
    width: 100%;
}
.bonus-progress {
    border-radius: 10px;
    height: 14px;
}
.label-progress {
    padding-left: 3px;
    padding-right:  3px
}
.section-progress {
    display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px
}
.verify-icon {
    vertical-align: middle;
    color: green;
    margin-right: 5px;
}
.bot-link {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-decoration: none;
}
@keyframes example {
    from {color: #32afed;}
    to {color: #215372;}
}
