<div class="clients-table-container">
    <mat-card class="clients-search-card">
        <mat-form-field [floatLabel]="'never'" class="">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
        </mat-form-field>
        <!-- <button mat-raised-button (click)="openDialog()" color="accent">Новый
</button> -->
    </mat-card>
</div>
<div class="clients-table-container">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Клиент </mat-header-cell>
            <mat-cell *matCellDef="let row" routerLink="/client/{{row.id}}"> {{row.lastName}} {{row.firstName}} </mat-cell>
        </ng-container>

        <!-- Contacts Column -->
        <ng-container matColumnDef="contacts">
            <mat-header-cell *matHeaderCellDef> Контакты </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="contactMenu">
                    <mat-icon>smartphone</mat-icon>
                </button>
                <mat-menu #contactMenu="matMenu">
                    <button mat-menu-item>
                        <a class="link-text" href="tel:{{row.phone}}">
                            <mat-icon>phone</mat-icon>
                            <span>Звонок</span>
                        </a>
                    </button>
                    <button mat-menu-item>
                        <a class="link-text" href="sms:{{row.phone}}">
                            <mat-icon>textsms</mat-icon>
                            <span>Сообщение</span>
                        </a>
                    </button>
                    <button mat-menu-item ngxClipboard [cbContent]="row.phone">
                        <mat-icon>content_copy
                        </mat-icon>
                        <span>{{row.phone}}</span>
                    </button>
                </mat-menu>
                <button mat-icon-button color="warn" class="social-button">
                    <a class="link-text" href="{{row.link}}" target="_blank">
                        <mat-icon>public</mat-icon>
                    </a>
                </button>
                <button mat-icon-button class="social-button">
                    <a class="link-text" href="{{row.linkPhoto}}" target="_blank">
                        <mat-icon>party_mode
                        </mat-icon>
                    </a>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [length]="clients.length" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

    <button mat-mini-fab color="primary" class="add-fixed-button" (click)="openDialog()">
        <mat-icon aria-label="">add</mat-icon>
    </button>
</div>