<mat-toolbar color="primary" class="my-header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>My Clients</h1>
</mat-toolbar>

<mat-sidenav-container class="my-container">

  <mat-sidenav #sidenav mode="side" opened="false" color="grey" class="my-sidenav" [fixedInViewport]="false">
    <mat-nav-list class="my-list-menu">
      <h3 mat-subheader>Меню</h3>
      <a mat-list-item routerLink=".">
        <mat-icon mat-list-icon>people</mat-icon>
        Клиенты
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Управление</h3>
      <a mat-list-item routerLink=".">
        <mat-icon mat-list-icon>settings</mat-icon>
        Настрйоки
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar class="my-footer">bezruk-ognerubova@2018</mat-toolbar>