.page .my-header{
    max-width: 500px;
    margin: auto;
}
.page .my-footer{
    max-width: 500px;
    margin: auto;
}
.page .my-container{
    max-width: 500px;
    margin: auto;
}
::-webkit-scrollbar {
    max-width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.my-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.my-footer{
    position: fixed;
    height: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}
.my-container{
    position: absolute;
    top: 60px;
    bottom: 35px;
    left: 0;
    right: 0;
}
.my-sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.my-list-menu{
    height: 98%;
    width: 100%;
    padding-top: 2%;
}
.my-list-down-menu{
    position: absolute;
    bottom: 0px; 
    width: 100%
}
