.my-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.my-footer{
    position: fixed;
    height: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}
.my-container{
    position: absolute;
    top: 60px;
    bottom: 35px;
    left: 0;
    right: 0;
}
.my-sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.my-list-menu{
    height: 98%;
    width: 100%;
    padding-top: 2%;
}
.my-list-down-menu{
    position: absolute;
    bottom: 0px; 
    width: 100%
}