.footer {
    margin: auto;
    position: fixed;
    bottom: 0px;
    height: 30px;
    left: 0px;
    width: 100%;
}
.profile {
    max-width: 800px;
    margin: auto;
}
.avatar {
    border-radius: 100%;
    width: 90%;
    margin: 5%;
}
.profile h2 {
    color: #262626;
    text-align: left;
}
.profile p {
    color: #262626;
}
.profile-card {
    position: inherit;
    left: 10px;
}
.product {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}
.product-info {
    top: 1px;
    width: 100%;
    height: 25%;
    min-height: 40px;
    background: rgba(0,0,0,0.65) ;
    position: sticky;
}
.product-info h3 {
    /* font-size: 1em;  */
    color: white;
    text-align: center;
    /* margin: 0; */
}
.product-info p {
    /* font-size: 1em;  */
    color: lightgray;
    text-align: center;
    /* margin: 0; */
}
@media only screen and (max-width: 420px) {

    .product-info p {
        font-size: 0.8em; 
        color: lightgray;
        text-align: center;
        /* display: none; */
        margin: 0;
    }
    .product-info h3 {
        font-size: 1em; 
        color: white;
        text-align: center;
        margin: 0;
    }
    .profile h2 {
        color: #262626;
        font-size: 1em; 
    }
    .profile p {
        font-size: 0.8em;
        color: #262626;
    }
 }