<!-- <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'green'">
        Green
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'red'">
        Red
    </mat-grid-tile>
</mat-grid-list> -->
<div class="client-container">
    <mat-card class="item-contaner">
        <div>
            <img img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
            <div class="client-menu-bar">
                <button mat-mini-fab color="primary">
                    <mat-icon aria-label="">public</mat-icon>
                </button>
                <button mat-mini-fab color="warn" [matMenuTriggerFor]="contactMenu">
                    <mat-icon aria-label="">phone</mat-icon>
                </button>
                <mat-menu #contactMenu="matMenu">
                    <button mat-menu-item>
                        <a class="link-text" href="tel:{{client.phone}}">
                            <mat-icon>phone</mat-icon>
                            <span>Звонок</span>
                        </a>
                    </button>
                    <button mat-menu-item>
                        <a class="link-text" href="sms:{{client.phone}}">
                            <mat-icon>textsms</mat-icon>
                            <span>Сообщение</span>
                        </a>
                    </button>
                    <button mat-menu-item ngxClipboard [cbContent]="client.phone">
                        <mat-icon>content_copy
                        </mat-icon>
                        <span>{{client.phone}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <mat-card-title>{{client.lastName}} {{client.firstName}}
        </mat-card-title>
        <button mat-icon-button class="edit-button">
            <mat-icon aria-label="">mode_edit

            </mat-icon>
        </button>
        <mat-card-subtitle>Модель</mat-card-subtitle>
        <mat-card-content>
            <p>
                День рождения: {{client.birthday | date:'longDate'}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="addOrder()">Записать</button>
        </mat-card-actions>
    </mat-card>
    <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    История
                </mat-panel-title>
                <mat-panel-description>
                    <mat-spinner *ngIf="orders.current == null || orders.old == null" diameter="15"></mat-spinner>
                    <span *ngIf="orders.current != null || orders.old != null">Всего {{orders.current.length + orders.old.length }} записи</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list role="list">
                <h3 mat-subheader>Текущие</h3>
                <mat-list-item role="listitem" *ngFor="let order of orders.current">
                    <mat-icon mat-list-icon>date_range</mat-icon>
                    <h4 mat-line>{{ order.date | date:'MMMM d, H:mm' }}</h4>
                    <p mat-line> {{ order.total | currency :'RUB':'2.1'}} </p>
                    <button mat-icon-button class="edit-button" style="bottom: 10px" (click)="removeOrder(order.id)" color="accent">
                        <mat-icon aria-label="">info outline</mat-icon>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Прошлые</h3>
                <mat-list-item role="listitem" *ngFor="let order of orders.old">
                    <mat-icon mat-list-icon>date_range</mat-icon>
                    <h4 mat-line>{{ order.date | date:'mediumDate' }}</h4>
                    <p mat-line> {{ order.total | currency :'RUB':'2.1'}} </p>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>