<div class="orders-container">
  <mat-list *ngIf="orders != null">
    <div *ngIf="orders.current != null && orders.current.length > 0">
      <h3 mat-subheader>Сегодня</h3>
      <mat-list-item *ngFor="let order of orders.current">
        <mat-icon mat-list-icon>work</mat-icon>
        <h4 mat-line>{{order.location}}</h4>
        <p mat-line>{{order.date | date:'HH:mm'}} </p>
        <button mat-icon-button routerLink="/client/{{order.clientId}}" color="primary">
          <mat-icon>account_box</mat-icon>
        </button>
      </mat-list-item>
    </div>
    <div *ngIf="orders.feature != null && orders.feature.length > 0">
      <h3 mat-subheader>Скоро</h3>
      <mat-list-item *ngFor="let order of orders.feature">
        <mat-icon mat-list-icon>work</mat-icon>
        <h4 mat-line>{{order.location}}</h4>
        <p mat-line> {{order.date | date:'MMMM d'}}, {{order.date | date:'HH:mm'}} </p>
        <button mat-icon-button routerLink="/client/{{order.clientId}}" color="primary">
          <mat-icon>account_box</mat-icon>
        </button>
      </mat-list-item>
    </div>
  </mat-list>
</div>