<div class="table-container" *ngIf="products?.length > 0 && showFilter">
  <mat-card class="search-card">
    <mat-form-field [floatLabel]="'never'" class="">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>
  </mat-card>
</div>
<mat-tab-group class="demo-tab-group" color="primary" headerPosition="center" (selectedTabChange)="selectedTabChange($event)" >
  <mat-tab label="Услуги">
      <!-- *ngIf="products?.length > 0" -->
    <div class="table-container" >
      <mat-table [dataSource]="productDataSorce" #sortProducts="matSort" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </mat-header-cell>
          <mat-cell *matCellDef="let product" (click)="openEditProductDialog(product)"> {{product.name}} </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Стоимость </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.price}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedProductColumns"></mat-header-row>
        <mat-row *matRowDef="let product; columns: displayedProductColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginatorProducts [length]="products.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
    <!-- <button mat-mini-fab color="primary" class="search-fixed-button" (click)="openDialog()">
      <mat-icon aria-label="">search</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="add-fixed-button" (click)="openDialog()">
      <mat-icon aria-label="">add</mat-icon>
    </button> -->
  </mat-tab>
  <mat-tab label="Скидки">
      <!-- *ngIf="discounts?.length > 0" -->
      <div class="table-container"  >
          <mat-table [dataSource]="discountDataSorce" #sortDiscounts="matSort" matSort>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Описание</mat-header-cell>
              <mat-cell *matCellDef="let discount" (click)="openEditDiscountDialog(discount)"> {{discount.name}} </mat-cell>
            </ng-container>
    
            <!-- Discount Column -->
            <ng-container matColumnDef="percent">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Величина</mat-header-cell>
              <mat-cell *matCellDef="let discount"> {{discount.percent * 100}} %</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedDiscountColumns"></mat-header-row>
            <mat-row *matRowDef="let discount; columns: displayedDiscountColumns;">
            </mat-row>
          </mat-table>
    
          <mat-paginator #paginatorDiscounts [length]="discounts.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
        <!-- <button mat-mini-fab color="primary" class="add-fixed-button" (click)="openDialog()">
          <mat-icon aria-label="">add</mat-icon>
        </button> -->
  </mat-tab>
</mat-tab-group>
<button mat-mini-fab [ngStyle]="{'background': showFilter ? 'orange': 'green'}" class="search-fixed-button" (click)="showHideFilter()">
  <mat-icon aria-label="">search</mat-icon>
</button>
<button mat-mini-fab color="primary" class="add-fixed-button" (click)="openDialog()">
  <mat-icon aria-label="">add</mat-icon>
</button>
