.main-grid {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: calc(100% - 60px);
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 350px; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 1em;
  }

.cart-item-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 800px;
    margin: auto;
    margin-bottom: 35px;
}
.avatar {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: auto;
}
.contact-block{
    width: 80px;
}
.avatar-block .contact-block{
    width: 80px;
    margin: auto;
}
.stats{
    /* padding: 5px;
    text-align: left; */
}
.stats span{
    margin-right: 1.8em;
}
.profile-card {
    position: inherit;
    left: 10px;
}

.sec2 {
    padding: 5px;
}

@media only screen and (min-width: 601px) {
    .horizontal-info{
        display: none;
    }
    .header{
        height: 140px;
    }
}
@media only screen and (max-width: 600px) {
    .avatar-block .contact-block{
        display: none;
    }
    .header{
        height: 120px;
    }
}
/*@media only screen and (max-width: 420px) {
    .product-info p {
        font-size: 0.8em; 
        color: lightgray;
        text-align: center;
        margin: 0;
    }
    .product-info h3 {
        font-size: 1em; 
        color: white;
        text-align: center;
        margin: 0;
    }
 }*/
    .bounds {
      /* background-color:#ddd; */
      max-height: 300px;
      margin: auto;
      max-width: 650px;
      padding: 10px 0 10px 0;
    }
    .sec1, .sec2 {
       padding-top: 5px; 
      
    } 
    .content {
      min-width: 300px;
      /*height: 400px;*/
    }