<mat-toolbar color="primary">Store: Смирнова Екатерина</mat-toolbar>
<div class="profile">
  <div class="bounds">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="20" class="sec1" fxFlex.xs="40">
        <div style="height: 100px;"  fxLayout.xs="row"   fxLayout="column">
        <img fxFlex="100" fxFlex.xs="30" class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <div class="horizontal-info" fxFlex.xs="70" fxFlex="0">
              <section class="mat-typography">
                  <h2 style="text-align: center;">
                    link_test_store
                  </h2>
                </section>
              <button style="display: block;
              margin: auto;
              padding: 0 60px 0 60px;" (click)="showMessageForm()" mat-raised-button color="primary">Написать</button>
              <!-- <button mat-icon-button color="primary">
                  <mat-icon>email</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>call</mat-icon>
                  </button> -->
          </div>
      </div>
    </div>
      <div fxFlex="80" class="sec2" fxFlex.xs="60">
          <section class="mat-typography">
        <h3 style="text-align: -webkit-auto;">
          Здравствуйте, меня зовут Екатерина, я - мастер маникюра. Имею большой оптыт в этом деле. Буду рада, если вы выберите и запишитесь
          ко мне.
        </h3>
      </section>
      </div>
    </div>
  </div>
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="5px">
    <mat-grid-tile class="item" *ngFor="let product of products" [colspan]="1" [rowspan]="1">
      <div class="product" (click)="showInfo(product)" [style.backgroundImage]="getUrl(product.id)">
        <div class="product-info">
          <h3>{{product.name}}</h3>
          <p>{{product.price}}</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>