.profile {
    max-width: 800px;
    margin: auto;
    margin-bottom: 35px;
}
.avatar {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: auto;
}
.contact-block{
    width: 80px;
}
.avatar-block .contact-block{
    width: 80px;
    margin: auto;
}
.stats{
    /* padding: 5px;
    text-align: left; */
}
.stats span{
    margin-right: 1.8em;
}
.profile-card {
    position: inherit;
    left: 10px;
}
.product {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}
.product-info {
    top: 1px;
    width: 100%;
    height: 20%;
    min-height: 30px;
    background: rgba(0,0,0,0.65) ;
    position: sticky;
}
.product-info h3 {
    /* font-size: 1em;  */
    color: white;
    text-align: center;
    margin: 0;
}
.product-info p {
    color: lightgray;
    text-align: center;
}
.sec2 {
    padding: 5px;
}

@media only screen and (min-width: 601px) {
    .horizontal-info{
        display: none;
    }
    .header{
        height: 140px;
    }
}
@media only screen and (max-width: 600px) {
    .avatar-block .contact-block{
        display: none;
    }
    .header{
        height: 120px;
    }
}
@media only screen and (max-width: 420px) {
    .product-info p {
        font-size: 0.8em; 
        color: lightgray;
        text-align: center;
        margin: 0;
    }
    .product-info h3 {
        font-size: 1em; 
        color: white;
        text-align: center;
        margin: 0;
    }
 }
    .bounds {
      /* background-color:#ddd; */
      max-height: 300px;
      margin: auto;
      max-width: 650px;
      padding: 10px 0 10px 0;
    }
    .sec1, .sec2 {
       padding-top: 5px; 
      
    } 
    .content {
      min-width: 300px;
      /*height: 400px;*/
    }