.container-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container-row{
    display: flex;
    flex-direction: row;
}
.container-column > * {
    max-width: 250px;
}
.container-column img{
    border: 1px dashed darkslategrey;
    border-radius: 10px;
}
.button-ok{
    color: green;
    float: right;
}
.button-cancel{
    color:red;
}
mat-form-field mat-icon{
    margin-right: 5px;
    vertical-align: bottom;
}
 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/* .inputfile + label {
    /* font-size: 1.25em;
    font-weight: 700; 
    color: white;
    display: inline-block;
} */
.inputfile + label {
    background: darkslategrey;
    border-radius: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    width: 150px;
    color: white;
    display: inline-block;
}
label mat-icon{
    vertical-align: middle;
}
/*
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
} */