.container-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container-row{
    display: flex;
    flex-direction: row;
}
.container-column > * {
    max-width: 250px;
    
}
.container-column img{
    max-height: 250px;
}
.button-ok{
    color: green;
    float: right;
}
.button-cancel{
    color:red;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    background: darkslategrey;
    border-radius: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    width: 150px;
    color: white;
    display: inline-block;
}
label mat-icon{
    vertical-align: middle;
}
.photo-preview{
    object-fit: contain;
    /* max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;  */
}