.container-column{
    display: flex;
    flex-direction: column;
}
.button-ok{
    color: green;
    float: right;
}
.button-cancel{
    color:red;
}
.image-preview{
    display: block;
    margin: auto;
}