<h1 mat-dialog-title>Оставить сообщение</h1>
<div class="message-form" mat-dialog-content>
  <mat-form-field>
    <input matInput #nameInput maxlength="25" [(ngModel)]="who" placeholder="Представьтесь">
    <mat-hint align="end">{{nameInput.value?.length || 0}}/25</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput #contactInput maxlength="25" [(ngModel)]="contacts" placeholder="Введите контакты для связи">
    <mat-hint align="end">{{contactInput.value?.length || 0}}/25</mat-hint>
  </mat-form-field>

  <mat-form-field hintLabel="Максимум 100 символов">
    <textarea #textMessage maxlength="100" [(ngModel)]="message.text" matInput placeholder="Введите сообщение"></textarea>
    <mat-hint align="end">{{textMessage.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: block">
  <button mat-button class="button-cancel" [mat-dialog-close]="0">Назад</button>
  <button (click)="send()" [disabled]="inProc || textMessage.value?.length === 0 || contactInput.value?.length === 0" mat-button class="button-ok" (click)="create()" cdkFocusInitial>Отправить</button>
</div>